.full-width {
  width: 100%;
}
.mat-form-field{
  width: 500px;
  display: block;
  margin: 20px auto 0;
}

.mat-body{
  display: block;
  margin: 30px auto 0;
  width: 1100px;
  text-align: center;
}

.circle-progress{
  height: 170px !important;
  width: 170px !important;
  display: block;
  float: left;
}

.button-row{
  margin-top: 10px;
}

.button-row button{
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}




